@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-green: #225937;
  --color-mid-green: #367D4E;
  --color-light-green: #4CA166;
  --color-pale-green: #E5F2E9;
  --color-accent-green: #65B67F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
} 